<mat-card class="mat-elevation-z2">
    <!-- <img src="https://2app.kicksonfire.com/kofapp/upload/events_master_images/ipad_air-jordan-1-mid-gym-red-black.jpg" alt="Shoes Image"> -->
   <div class="row">
        <div class="col-6">
            <mat-card-header>
                <img *ngIf="image.size != 18"  mat-card-sm-image [src]="profilePicture" alt="profile picture" >
                <img *ngIf="image.size == 18" mat-card-sm-image src="../assets/PT logo.jpeg" alt="">
             </mat-card-header>
        </div>
       <div class="col-6">
           <mat-card-header>
               <mat-card-title>{{playerDetails.name}}</mat-card-title>
               <mat-card-subtitle>{{playerDetails.phnNumber}}</mat-card-subtitle>
           </mat-card-header>
       </div>      
    </div>
    <mat-card-content>
            <div class="row">
                <div class="col-6">
                    <mat-card-title class="text-center"> Balance : </mat-card-title>
                </div>
                <div class="col-6">
                    <mat-card-title *ngIf="wallet >= 0" class="text-success">{{wallet}}</mat-card-title>
                    <mat-card-title *ngIf="wallet < 0" class="text-danger">{{wallet}}</mat-card-title>
                </div>
            </div>  
    </mat-card-content>
</mat-card>
